@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.zlogo{
  width: 50;
  height: 50;
}


.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #0b3d91;
  color: white;
}
.navbar ul {
  list-style: none;
  display: flex;
}
.navbar ul li {
  margin-left: 20px;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
}
.cta-button {
  background-color: #ffba08;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.active{
  text-decoration: underline;
}
.hero-home {
  background-image: url('../public/images/hero_blue.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  text-shadow: 2px 2px 5px rgb(35, 35, 35);
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-yachts {
  background-image: url('../public/images/hero_yachts.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  text-shadow: 2px 2px 5px rgb(35, 35, 35);
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-yacht {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  text-shadow: 2px 2px 5px rgb(35, 35, 35);
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.text-shadow{
  text-shadow: 2px 2px 5px rgb(35, 35, 35);
}

.hero-text {
  position: absolute;
  bottom: 30px;
  left: 50px;
}
.featured-yachts {
  background-color: #3a5b95;
}

.booking-page{
  background-color: #135cd2;
}

.contact-us{
  background-color: #135cd2;
}

.destinations {
  background-color: #274e90;
}
.featured-yachts-text{
  color: #ffffff;
}
.yacht-grid {
  display: flex;
  gap: 20px;
}
.yacht {
  flex: 1;
  text-align: center;
}
footer {
  background-color: #0b3d91;
  color: white;
  padding: 20px;
  text-align: center;
}
.social-links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

:root {
  --color-50: #e3f2ff;
  --color-100: #b6d4fe;
  --color-200: #88b2f7;
  --color-300: #5b8ff1;
  --color-400: #2d69ec;
  --color-500: #135cd2;
  --color-600: #0b51a4;
  --color-700: #054377;
  --color-800: #002e4a;
  --color-900: #00131e;
}
#mc_embed_signup{
  background:#fff;
  clear:left; 
  font:14px Helvetica,Arial,sans-serif; 
  width: 600px;
}
